# install: copy the comptent to ~/.gitconfig
# /!\ it is not recommended to copy the file directly as it may override any existing configuration


# sources
# squash: https://twitter.com/nedbat/status/1525082030186405890
# gone: https://www.erikschierboom.com/2020/02/17/cleaning-up-local-git-branches-deleted-on-a-remote/
# primary: https://nedbatchelder.com/blog/202410/git_aliases_switch_to_mainster_etc.html#h_returning_home

[rebase]
autostash  = true  # stash/unstash work in progress
autosquash = true  # auto-squash commits perfommed with '--fixup'

[alias]
# rebase without opening the editor
squash = "!f() { \
    : git show ; \
    git -c sequence.editor=: rebase -i ${1:-@~10}; \
}; f"

gone = ! "git fetch -p && git for-each-ref --format '%(refname:short) %(upstream:track)' | awk '$2 == \"[gone]\" {print $1}' | xargs -r git branch -D"

# from Adam Johnson's book
switch-recent = !git branch --sort=-committerdate --format='%(refname:short)' | fzf --preview='git log --date=relative --color main..{}' | xargs git switch

# Find the name of the primary branch, either "main" or "master".
primary = "!f() { \
    git branch -a | \
    sed -n -E -e '/remotes.origin.ma(in|ster)$/s@remotes/origin/@@p'; \
}; f"

[user]
name = Clément Robert
email = cr52@protonmail.com

[init]
defaultBranch = main
[merge]
	conflictStyle = zdiff3
[diff]
	algorithm = histogram
[rerere]
	enabled = true
[branch]
	sort = -committerdate
